@{

    ViewBag.Title = "William Ferreira";
}

<div class="container">
    <h1>Pesquisa Por CEP</h1>    
        <fieldset>
            <div class="form-row">
                <div class="col-md-2">
                    @Html.Label("CEP")
                </div>
                <div class="col-md-10 form-row">
                    @Html.TextBox("txtCEP", "", new { @class = "form-control", placeholder = "CEP" })
                    <input id="btnPesquisar" type="submit" value="Pesquisar" class="btn btn-primary btn-md" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesCEP", "CEP:", new { @class = "form-label" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblCEP", " ", new { @class = "form-control", id = "lblCEP" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesLogradouro", "Logradouro:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblLogradouro", " ", new { @class = "form-control", id = "lblLogradouro" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesComplemento", "Complemento:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblComplemento", " ", new { @class = "form-control", id = "lblComplemento" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesBairro", "Bairro:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblBairro", " ", new { @class = "form-control", id = "lblBairro" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesLocalidade", "Localidade:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblLocalidade", " ", new { @class = "form-control", id = "lblLocalidade" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesUF", "UF:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblUF", " ", new { @class = "form-control", id = "lblUF" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesUnidade", "Unidade:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblUnidade", " ", new { @class = "form-control", id = "lblUnidade" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesIBGE", "Código IBGE:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblIBGE", " ", new { @class = "form-control", id = "lblIBGE" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.Label("lblDesGIA", "GIA:", new { @class = "form-control" })
                </div>
                <div class="col-md-10">
                    @Html.Label("lblGIA", " ", new { @class = "form-control", id = "lblGIA" })
                </div>
            </div>
        </fieldset>    
</div>
@section Scripts {
    <script src="~/Scripts/CEP/CEP.js"></script>
}
